[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/z"]
	path = Modules/z
	url = https://github.com/vincpa/z.git
[submodule "Modules/psake"]
	path = Modules/psake
	url = https://github.com/psake/psake.git
[submodule "Modules/posh-alias"]
	path = Modules/posh-alias
	url = https://github.com/giggio/posh-alias
