Modules/VSSetup
Modules/PackageManagement
Modules/PowerShellGet
Modules/psake
Modules/Terminal-Icons
Modules/AzureADPreview
Modules/ExchangeOnlineManagement
Modules/Pester
Modules/PSScriptAnalyzer
Modules/PSReadLine
Modules/Microsoft.Graph*
bin
AdditionalModules
.setupran
.setupdonotrun
.setupran-nonelevated
powershell.config.json
