[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/z"]
	path = Modules/z
	url = https://github.com/vincpa/z.git
[submodule "Modules/posh-alias"]
	path = Modules/posh-alias
	url = https://github.com/giggio/posh-alias
[submodule "Modules/oh-my-posh"]
	path = Modules/oh-my-posh
	url = https://github.com/JanJoris/oh-my-posh.git
[submodule "Modules/pester"]
	path = Modules/pester
	url = https://github.com/pester/Pester
[submodule "Modules/PowerShellGuard"]
	path = Modules/PowerShellGuard
	url = https://github.com/smurawski/PowerShellGuard
[submodule "Modules/DockerCompletion"]
	path = Modules/DockerCompletion
	url = https://github.com/matt9ucci/DockerCompletion.git
[submodule "Modules/posh-sshell"]
	path = Modules/posh-sshell
	url = https://github.com/dahlbyk/posh-sshell.git
[submodule "Modules/PSFzf"]
	path = Modules/PSFzf
	url = https://github.com/kelleyma49/PSFzf.git
[submodule "Modules/git-status-cache-posh-client"]
	path = Modules/git-status-cache-posh-client
	url = https://github.com/cmarcusreid/git-status-cache-posh-client.git
