Modules/VSSetup
Modules/PackageManagement
Modules/PowerShellGet
Modules/psake
Modules/Terminal-Icons
Modules/AzureADPreview
Modules/ExchangeOnlineManagement
Modules/Pester
Modules/PSScriptAnalyzer
bin
AdditionalModules
